@import "./colors.scss";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.DisplayNameModal {
  > div {
    margin-top: 1em;
    display: flex;
    gap: 1em;
  }
  .Error {
    padding: 0.5em 1em;
    border-radius: 100px;
    background-color: $c-red;
    margin-bottom: 1em;
  }
}

.ErrorModal {
  > button {
    display: block;
    width: 100%;
    padding: 1em;
    background-color: mix($c-red, black, 75%);
    margin-top: 2em;

    &:hover {
      background-color: mix($c-red, black, 65%);
    }
  }
}
