$c-darkgray: #191c20;
$c-gray: #25282c;
$c-red: #ff4d4f;
$c-yellow: #ffcf00;
$c-green: #0be881;
$c-blue: #1890ff;
$c-light: #ecf0f1;
$c-white: #ffffff;

$c-text: $c-white;
$c-accent: $c-blue;
$c-background: $c-darkgray;
$c-background-light: $c-gray;
